body {
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.col-md-6 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 40px;
    max-width: 450px;
    width: 100%;
}

.logo-container {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #878787;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0.5;
    transition: ease 0.3s;
}

.logo-container:hover {
    opacity: 1;
}

h5 {
    text-align: center;
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form-group {
    position: relative;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px;
    color: #878787;
    font-size: 16px;
}

.form-control {
    background-color: #232a31;
    border: none;
    border-radius: 5px;
    padding: 12px 15px 12px 40px;
    color: #fff;
    transition: ease 0.3s;
}

.form-control::placeholder {
    color: #878787;
}

.form-control:focus {
    background-color: #fff;
    color: #333;
    box-shadow: none;
    border: none;
}

.btn-auth {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    transition: ease 0.3s;
}

.login-link {
    font-size: 14px;
    color: #fff;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
    color: #0056b3;
}


/* Responsive  */
@media only screen and (max-width: 576px) {
    .col-md-6 {
        padding: 25px;
        margin: 0 15px;
    }

    h5 {
        font-size: 20px;
    }
}